$color-blue-one: #5496e6;
$color-blue-two: #518bde;
$color-gray-one: #444;
$color-gray-two: #e6e6e6;
$color-yellow-one: #f7d754;

.grid {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: repeat(4, minmax(200px, 1fr));
  grid-template-columns: repeat(10, minmax(150px, 1fr));

  &__title {
    grid-row: 1/2;
    grid-column: 1/4;

    justify-self: center;

    font-size: 18px;
    color: white;
    font-family: "Montserrat";
    font-weight: 300;

    padding: 55px 75px;
  }

  &__remaining {
    grid-row: 4/-1;
    grid-column: 1/-1;

    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 300;
    line-height: 27px;
    color: $color-gray-one;
    text-align: center;
    margin-top: 33px;
  }
}
