.picker {
  grid-column: 5/9;
  grid-row: 2/3;
  justify-self: center;
  align-self: end;
  padding-bottom: 50px;

  input {
    font-size: 80px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    color: $color-gray-one;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #e38924;
    text-align: center;
    &:focus {
      outline: none;
    }
  }
}
